body {
   text-align: center; 
}

table {
    font-family: Ubuntu, sans-serif;
    border-collapse: collapse;
    border: 1px solid rgb(200,200,200);
    font-size:.83rem;
    width: 245px;
    box-shadow: 5px 5px 15px gray;
    margin: auto;
    }

td, th {
    border: 1px solid rgb(190,190,190);
    padding: 5px 8px;
    }

td {
      text-align: center;
    }

thead {
    font-size: 1.3rem;
    font-weight: bolder;
    letter-spacing: 1px;
    padding-top: 20px;
    padding-bottom: 5px;
    }
#subheads td {
    font-size: 14px;
    letter-spacing: 1px;
    font-weight: bold;
    background-color: #628ca6;
    color: white;
    }
          
thead>tr>th{
    background-color: #7fb9c2;
}

tfoot>tr>td {
    font-size: .6rem;
    background-color: #7fb9c2;
}
#blackfriday td:first-child {
    font-style: italic;
    }
#box td:last-child {
    background-color: #628ca6;
    color: white;
    }
          
tr:nth-child(odd) {
    background-color: #e7ffed;
    }

tr:nth-child(even) {
    background-color: #e7f0ed;
    }
