@media only screen and (min-width: 64em) {
  /* Only CSS rules that need to be changed to meet the layout needs from medium to large/wide go in here */
  
    
    /*nav ul li a {
        font-size: 32px;
        padding: 14px;
        margin: 10px 0px 10px;;
        }*/
    
  article p.town-article img { 
      width: 29.333%; 
    }
  
}