@media only screen and (min-width: 37.5em) {
  /* Only CSS rules that need to be changed to meet the layout needs from small to medium go in here */
  
    
header, nav, main, footer { 
        margin: 1rem auto;
        padding: .75rem;
        max-width: 37.5em;
     }
    
    .subheading {
        margin-top: 0px;
    }
    
  nav button { 
      display:none; 
    }  /* hamburger button does not need to be shown */
    
    nav {
    margin-top: 80px;
    }
    
    
    nav ul li {
        float: left;
        }
    

    nav ul.hide {
        display: block;
    }
    
    nav ul li a {
        font-size: 16px;
        padding: 14px 14px 14px;
        }

    section.forecast{
            display: block;
        }
    
  section.forecast { 
      display: block; 
    }  /* show the 10-day forecast with the medium view and up */
  
  article p.town-article img { 
      width: 62.666%; float:right; 
    }  /* responsive images */

    /*article p.town-article img {
            padding: 1rem 0 1rem 2rem;
            height: 50%;
            width: 50%;
            float: left;
            
        }*/
}

