@media only screen and (min-width: 1200px) {
  /* Only CSS rules that need to be changed to meet the layout needs from medium to large/wide go in here */

    /* ------------header---------------*/
    
    figure.logo {
    }
    
    header {
        width: 100%;
    }
    
    #tagline{
    font-size: .7em;
    letter-spacing: 0.1em;
    margin-top: -10px;    
}

    
    /* ------------Nav---------------*/
    nav button {
            display: none;
        }
    
    nav {
    display: flex;
    height: 80px;
    }
    
    nav ul li {
        justify-content: center;
        padding: 0px 40px 0px 40px;

        }
    
    nav ul li a {
        font-size: 1.8em;
        padding: 14px 10px;
        }
    
    /* ------------Content---------------*/
   
    
    #homepage h1, #events h1, #tours h1, #service h1, #sales h1 {
    font-size: 3.5em;
    padding-top: 10px;
    padding-left: 60px;

    }
   
    

    #homepage h3, #events h3, #tours h3, #service h3, #sales h3 {
    color: white; 
    font-size: 1.9em;
    line-height: 1.8em;
    font-weight: bolder;
    padding: 16px 30px 12px 55px;
}
    
    
    /* ------------EVENTS---------------*/
    
    article h1 {
    font-size: 3em;
    margin-top: .67em;
    
    }
    
    article, #registration {
    padding: 0px 70px 10px 70px;
    }
    
    /* ------------TOURS---------------*/
    
  
     /* ------------SERVICE--------------*/
    .holderservice h1 {
        font-size: 3em;
    }
    
    /* ------------SALES--------------*/
     #accordion-resizer {
    height: 1200px;
  }
}

